<html>
<head>
</head>
<body>
Intro 
Verse 
Pre-chorus 
Chorus 
Verse 
Chorus 
Bridge 
Chorus 
Outtro
<script>

var key = 'C';
var tempo = 120;


function songParts(intro, verse, preChorus, chorus, bridge, outtro){
	this.intro = intro;
	this.verse = verse;
	this.preChorus = preChorus;
	this.chorus = chorus;
	this.bridge = bridge;
}




</script>
</body>
</html>