<html>
<head>
</head>
<body>
Intro 
Verse 
Pre-chorus 
Chorus 
Verse 
Chorus 
Bridge 
Chorus 
Outtro
<script>

function songParts(intro, verse, chorus, bridge, outtro){
	this.intro = intro;
	this.verse = verse;
	this.chorus = chorus;
	this.bridge = bridge;
}




</script>
</body>
</html>